# Configuration variables

# Twitter
USERNAME_STRING = '@AireAsu'
CONSUMER_KEY = ''
CONSUMER_SECRET = ''
ACCESS_TOKEN = ''
ACCESS_TOKEN_SECRET = ''
TELEGRAM_BOT_TOKEN = ''
TELEGRAM_CHAT_ID = -1
TELEGRAM_NETWORK_DOWN_USER = "@"